<div class="slider-wrapper" layout="column">
  <div layout>
    <div flex="10" layout layout-align="center center">
      <span class="md-body-1">Less Speed</span>
    </div>
    <md-slider md-discrete flex="40" class="md-primary" >
    </md-slider>
    <div flex="10" layout layout-align="center center">
      <span class="md-body-1">More Speed</span>
    </div>
  </div>
  <div layout>
    <div flex="10" layout layout-align="center center">
      <span class="md-body-1">Less Workload</span>
    </div>
    <md-slider md-discrete flex="40" class="md-primary" >
    </md-slider>
    <div flex="10" layout layout-align="center center">
      <span class="md-body-1">More Workload</span>
    </div>
  </div>
  <div layout>
    <div flex="10" layout layout-align="center center">
      <span class="md-body-1">Less Dependent</span>
    </div>
    <md-slider flex="40" md-discrete class="md-primary" >
    </md-slider>
    <div flex="10" layout layout-align="center center">
      <span class="md-body-1">More Dependent</span>
    </div>
  </div>
  <div layout>
    <div flex="10" layout layout-align="center center">
      <span class="md-body-1">Less Comfort</span>
    </div>
    <md-slider flex="40" class="md-primary" >
    </md-slider>
    <div flex="10" layout layout-align="center center">
      <span class="md-body-1">More Comfort</span>
    </div>
  </div>
  <div layout="row">
    <div flex="40" layout layout-align="center center">
      <md-button class="md-raised md-primary">Submit</md-button>
    </div>
  </div>

</div>

